


.projeto-ux{
    padding:2em 0.5em;
}

.projeto-ux strong{
    font-weight: bold;
}

.projeto-ux__titulo{
    position: relative;
    
}

.projeto-ux__titulo h2 {
    top: 7px;
    left: 10px;
    font-size: 24px;
    font-weight: bold;
    position: absolute;

}
    
.projeto-ux__desafio,
.projeto-ux__solucao,
.projeto-ux__entregaveis,
.projeto-ux__lista {
    font-size: 16px;
    line-height: 1.2em;
    padding: 1em;
    text-align: justify;
}
.projeto-ux__lista{
    list-style: inside;
}


.projeto-ux__botao{
    display: flex;
    padding: 1rem;
    justify-content: center;
    margin-bottom: 2em;
}

.projeto-ux__botao a{
    width: 330px;
    padding: 1rem;
    text-align: center;
    color: var(--cinza-claro);
    background-color: var(--roxo-principal);
    border-radius: 0.5em;
    text-decoration: none;
}

.projeto-ux__container {
    display: flex; 
    width: 100%;
    justify-content: center;
}

.projeto-ux__figma-mobile{
   display: flex;
   gap: 0.5em;
   padding: 2em 0;
   justify-content: center;
}

.projeto-ux__botao-menor{
    display: flex;
    padding: 0.5rem;
    justify-content:flex-start;
    margin-bottom: 1em;
    gap: 2em;
}

.projeto-ux__botao-menor p{
    width: 100px;
    padding: 1rem;
    text-align:center;
    color: var(--cinza-claro);
    background-color: var(--roxo-principal);
    border-radius: 0.5em;
}

.projeto-ux__botao-menor {
    display: flex;
    justify-content: center;
}

@media screen and (min-width:760px) {
    .projeto-ux__container ul {
        width: 300px;
    }
}